.container {
  /* border: 1px solid black; */

  width: 50%;
  min-width: 350px;
}

.form {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  gap: 10px;
}

.form > input {
  flex: 4;
  height: 20px;
  padding: 10px;
  font-size: 16px;
}

.form > button {
  flex: 1;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 15px;
}

.item > p {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.item > div > span {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  transition: 0.25s;
  cursor: pointer;
}

.item > div > span:hover {
  color: red;
}
